# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (uncomment to ignore vendor directory)
# vendor/

# IDE and editor files (examples for common IDEs)
.idea/
.vscode/
*.swp
*.bak

# Air Tmp Folder
tmp/